<div class="container">

  <h2>Gestion des crimes</h2>

  <div class="form-card">
    <h3>Ajouter un crime</h3>

    <select [(ngModel)]="newCrime.typeCrime">
      <option value="">Choisir type crime</option>
      <option value="VOL">VOL</option>
      <option value="AGRESSION">AGRESSION</option>
      <option value="FRAUDE">FRAUDE</option>
      <option value="HOMICIDE">HOMICIDE</option>
      <option value="CYBERCRIME">CYBERCRIME</option>
    </select>

    <textarea
      placeholder="Description"
      [(ngModel)]="newCrime.description">
    </textarea>
    <button class="ai-btn" (click)="classifyCrimeWithAi()">
  Classifier par IA
</button>

    <input
      type="datetime-local"
      [(ngModel)]="newCrime.dateCrime"
    >

    <input
      type="text"
      placeholder="Adresse"
      [(ngModel)]="newCrime.adresse"
    >

    <input
      type="text"
      placeholder="Ville"
      [(ngModel)]="newCrime.ville"
    >

    <input
      type="number"
      placeholder="Latitude"
      [(ngModel)]="newCrime.latitude"
    >

    <input
      type="number"
      placeholder="Longitude"
      [(ngModel)]="newCrime.longitude"
    >

    <select [(ngModel)]="newCrime.statut">
      <option value="SIGNALE">SIGNALÉ</option>
      <option value="ENQUETE">ENQUÊTE</option>
      <option value="RESOLU">RÉSOLU</option>
    </select>

    <select [(ngModel)]="selectedAffaireId">
      <option [ngValue]="null">Aucune affaire liée</option>
      <option *ngFor="let affaire of affaires" [ngValue]="affaire.id">
        {{ affaire.numeroAffaire }} - {{ affaire.titre }}
      </option>
    </select>

    <button (click)="saveCrime()">
  {{ isEditMode ? 'Modifier' : 'Ajouter' }}
</button>

<button
  *ngIf="isEditMode"
  class="reset-btn"
  (click)="resetForm()">
  Annuler
</button>
  </div>

  <div class="filter-card">
  <h3>Recherche et filtres</h3>

  <select [(ngModel)]="filterTypeCrime">
    <option value="">Tous les types</option>
    <option value="VOL">VOL</option>
    <option value="AGRESSION">AGRESSION</option>
    <option value="FRAUDE">FRAUDE</option>
    <option value="HOMICIDE">HOMICIDE</option>
    <option value="CYBERCRIME">CYBERCRIME</option>
  </select>

  <input
    type="text"
    placeholder="Rechercher par ville"
    [(ngModel)]="filterVille"
  >

  <select [(ngModel)]="filterStatut">
    <option value="">Tous les statuts</option>
    <option value="SIGNALE">SIGNALÉ</option>
    <option value="ENQUETE">ENQUÊTE</option>
    <option value="RESOLU">RÉSOLU</option>
  </select>

  <button (click)="applyFilters()">Rechercher</button>
  <button class="reset-btn" (click)="resetFilters()">Réinitialiser</button>
</div>

  <div class="list-card">
    <h3>Liste des crimes</h3>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Description</th>
          <th>Date</th>
          <th>Ville</th>
          <th>Adresse</th>
          <th>Statut</th>
          <th>Affaire</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let crime of crimes">
          <td>{{ crime.id }}</td>
          <td>{{ crime.typeCrime }}</td>
          <td>{{ crime.description }}</td>
          <td>{{ crime.dateCrime }}</td>
          <td>{{ crime.ville }}</td>
          <td>{{ crime.adresse }}</td>
          <td>{{ crime.statut }}</td>
          <td>
            <span *ngIf="crime.affaire">
              {{ crime.affaire.numeroAffaire || crime.affaire.id }}
            </span>
            <span *ngIf="!crime.affaire">Non liée</span>
          </td>
          <td>
  <button class="edit-btn" (click)="editCrime(crime)"
  *ngIf="authService.hasAnyRole(['ADMIN', 'ENQUETEUR'])">
    Éditer
  </button>

  <button class="delete-btn" (click)="deleteCrime(crime.id)" *ngIf="authService.hasRole('ADMIN')">
    Supprimer
  </button>
</td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="crimes.length === 0">
      Aucun crime trouvé.
    </p>
  </div>

</div>
